@media screen and (min-width: 600px) {
    .cubo,
.cubo>div {
    width: 300px;
    height: 300px;
}

.cubo .cara:nth-child(1) {
    background: red;
    transform: translateZ(150px)
}

.cubo .cara:nth-child(2) {
    background: green;
    transform: translateZ(-150px);
}

.cubo .cara:nth-child(3) {
    background: blue;
    transform: translateX(-150px) rotateY(-90deg);
}

.cubo .cara:nth-child(4) {
    background: rgb(252, 164, 0);
    transform: translateX(150px) rotateY(-90deg)
}

.cubo .cara:nth-child(5) {
    background: yellow;
    transform: translateY(-150px) rotateX(-90deg);
}

.cubo .cara:nth-child(6) {
    background: white;
    transform: translateY(150px) rotateX(-90deg)
}

.fa-brands {
    font-size: 120px;
}
}